<!DOCTYPE html>
<html lang="en">
	<head>
		<title>dropdown</title>
		
		<link href="../../scripts/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="../../scripts/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">

	</head>
	<body>
		
		<div class="accordion" id="jobTAGS">
		  <div class="accordion-group">
		    <div class="accordion-heading">
		      <a class="accordion-toggle" data-toggle="collapse" data-parent="#jobTAGS" href="#collapseOne">
		        Business Development
		      </a>
		    </div>
		    <div id="collapseOne" class="accordion-body collapse in">
		      <div class="accordion-inner">
		       <ul>
		         <li><input type="checkbox"><label>Sales</label></li>
				<li><input type="checkbox"><label>Market Research</label></li>
				<li><input type="checkbox"><label>Customer service</label></li>
				<li><input type="checkbox"><label>Customer Development</label></li>
				<li><input type="checkbox"><label>Partnerships/Sponsorship</label></li>
		       </ul>
		      </div>
		    </div>
		  </div>
		  <div class="accordion-group">
		    <div class="accordion-heading">
		      <a class="accordion-toggle" data-toggle="collapse" data-parent="#jobTAGS" href="#collapseTwo">
		       DESIGN
		      </a>
		    </div>
		    <div id="collapseTwo" class="accordion-body collapse">
		      <div class="accordion-inner">
				<ul>
					<li><input type="checkbox"><label>UI</label></li>
					<li><input type="checkbox"><label>UX</label></li>
					<li><input type="checkbox"><label>Infographics</label></li>
					<li><input type="checkbox"><label>Product design</label></li>
					<li><input type="checkbox"><label>Graphic design</label></li>
					<li><input type="checkbox"><label>Usability testing</label></li>
					<li><input type="checkbox"><label>Interactive design</label></li>
				</ul>
			</div>
		    </div>
		  </div>
		  <div class="accordion-group">
		    <div class="accordion-heading">
		      <a class="accordion-toggle" data-toggle="collapse" data-parent="#jobTAGS" href="#collapseThree">
		        LEGAL
		      </a>
		    </div>
		    <div id="collapseThree" class="accordion-body collapse">
		      <div class="accordion-inner">
				<ul>
					<li><input type="checkbox"><label>Licensing</label></li>
					<li><input type="checkbox"><label>Trademarks</label></li>
					<li><input type="checkbox"><label>Negotiation</label></li>
					<li><input type="checkbox"><label>Copyrighting</label></li>
					<li><input type="checkbox"><label>Incorporation</label></li>
					<li><input type="checkbox"><label>Contract formulation</label></li>
					<li><input type="checkbox"><label>Intellectual property</label></li>
				</ul>
		      </div>
		    </div>
		  </div>
		  <div class="accordion-group">
		    <div class="accordion-heading">
		      <a class="accordion-toggle" data-toggle="collapse" data-parent="#jobTAGS" href="#collapseFour">
		        CUSTOMER DEVELOPMENT
		      </a>
		    </div>
		    <div id="collapseFour" class="accordion-body collapse">
		      <div class="accordion-inner">  
			<ul>
				<li><input type="checkbox"><label>Analytics</label></li>
				<li><input type="checkbox"><label>Conversion</label></li>
				<li><input type="checkbox"><label>Product/market fit</label></li>
			</ul>
		      </div>
		    </div>
		  </div>
		  <div class="accordion-group">
		    <div class="accordion-heading">
		      <a class="accordion-toggle" data-toggle="collapse" data-parent="#jobTAGS" href="#collapseFive">
		      HUMAN RESOURCES
		      </a>
		    </div>
		    <div id="collapseFive" class="accordion-body collapse">
		      <div class="accordion-inner">
				<ul>
					<li><input type="checkbox"><label>Hiring</label></li>
					<li><input type="checkbox"><label>Training</label></li>
					<li><input type="checkbox"><label>Recruitment</label></li>
					<li><input type="checkbox"><label>Interviewing</label></li>
					<li><input type="checkbox"><label>Coaching and leadership</label></li>
				</ul>
		      </div>
		    </div>
		  </div>
		  <div class="accordion-group">
		    <div class="accordion-heading">
		      <a class="accordion-toggle" data-toggle="collapse" data-parent="#jobTAGS" href="#collapseSix">
		        PROJECT MANAGEMENT
		      </a>
		    </div>
		    <div id="collapseSix" class="accordion-body collapse">
		      <div class="accordion-inner">
				<ul>
					<li><input type="checkbox"><label>Scrum</label></li>
					<li><input type="checkbox"><label>Lean startup methodology</label></li>
					<li><input type="checkbox"><label>Project management tools</label></li>
					<li><input type="checkbox"><label>Agile product development</label></li>
				</ul>
		      </div>
		    </div>
		  </div>
		  <div class="accordion-group">
		    <div class="accordion-heading">
		      <a class="accordion-toggle" data-toggle="collapse" data-parent="#jobTAGS" href="#collapseSeven">
		        FINANCE/ ACCOUNTING
		      </a>
		    </div>
		    <div id="collapseSeven" class="accordion-body collapse">
		      <div class="accordion-inner">
				<ul>
					<li><input type="checkbox"><label>Financial Models</label></li>
					<li><input type="checkbox"><label>Accounting software</label></li>
					<li><input type="checkbox"><label>Accounting best practices</label></li>
				</ul>
		      </div>
		    </div>
		  </div>
		  <div class="accordion-group">
		    <div class="accordion-heading">
		      <a class="accordion-toggle" data-toggle="collapse" data-parent="#jobTAGS" href="#collapseEight">
		       OPERATIONS
		      </a>
		    </div>
		    <div id="collapseEight" class="accordion-body collapse">
		      <div class="accordion-inner">       
				<ul>
					<li><input type="checkbox"><label>Process Optimization</label></li>
					<li><input type="checkbox"><label>Quality Assurance/ Management</label></li>
				</ul>
		      </div>
		    </div>
		  </div>
		  <div class="accordion-group">
		    <div class="accordion-heading">
		      <a class="accordion-toggle" data-toggle="collapse" data-parent="#jobTAGS" href="#collapseNine">
		        STRATEGY/MARKETING
		      </a>
		    </div>
		    <div id="collapseNine" class="accordion-body collapse">
		      <div class="accordion-inner">
				<ul>
					<li><input type="checkbox"><label>Pricing</label></li>
					<li><input type="checkbox"><label>Branding</label></li>
					<li><input type="checkbox"><label>Marketing</label></li>
					<li><input type="checkbox"><label>Email marketing</label></li>
					<li><input type="checkbox"><label>Viral marketing</label></li>
					<li><input type="checkbox"><label>Brand Management</label></li>
					<li><input type="checkbox"><label>Process Management</label></li>
					<li><input type="checkbox"><label>Guerilla Marketing</label></li>
					<li><input type="checkbox"><label>Internet Marketing</label></li>
					<li><input type="checkbox"><label>Affiliate marketing</label></li>
				</ul>
		      </div>
		    </div>
		  </div>
		  <div class="accordion-group">
		    <div class="accordion-heading">
		      <a class="accordion-toggle" data-toggle="collapse" data-parent="#jobTAGS" href="#collapseTen">
		        TECHNOLOGY
		      </a>
		    </div>
		    <div id="collapseTen" class="accordion-body collapse">
		      <div class="accordion-inner">
		        
				<ul>
					<li><input type="checkbox"><label>iOS</label></li>
					<li><input type="checkbox"><label>SEO</label></li>
					<li><input type="checkbox"><label>PHP</label></li>
					<li><input type="checkbox"><label>Java</label></li>
					<li><input type="checkbox"><label>J2ME</label></li>
					<li><input type="checkbox"><label>Linux</label></li>
					<li><input type="checkbox"><label>Python</label></li>
					<li><input type="checkbox"><label>Android</label></li>
					<li><input type="checkbox"><label>Database</label></li>
					<li><input type="checkbox"><label>Big Data</label></li>
					<li><input type="checkbox"><label>Security</label></li>
					<li><input type="checkbox"><label>Analytics</label></li>
					<li><input type="checkbox"><label>Algorithms</label></li>
					<li><input type="checkbox"><label>Networking</label></li>
					<li><input type="checkbox"><label>Server side</label></li>
					<li><input type="checkbox"><label>Methematics</label></li>
					<li><input type="checkbox"><label>Data Mining</label></li>
					<li><input type="checkbox"><label>Ruby on Rails</label></li>
					<li><input type="checkbox"><label>Computer Graphics</label></li>
					<li><input type="checkbox"><label>NoSQL + memchahed</label></li>
					<li><input type="checkbox"><label>Infrastructure scaling</label></li>
					<li><input type="checkbox"><label>Artificial Intelligence</label></li>
					<li><input type="checkbox"><label>Performance/Optimization</label></li>
					<li><input type="checkbox"><label>Advanced Web Applications</label></li>
					<li><input type="checkbox"><label>Natural Language Processing</label></li>
					<li><input type="checkbox"><label>System Analysis and Design</label></li>
					<li><input type="checkbox"><label>Interactive User Interfaces/ Direct Manipulation</label></li>
				</ul>
			</div>
		    </div>
		  </div>
		  <div class="accordion-group">
		    <div class="accordion-heading">
		      <a class="accordion-toggle" data-toggle="collapse" data-parent="#jobTAGS" href="#collapseEleven">
		        SALES
		      </a>
		    </div>
		    <div id="collapseEleven" class="accordion-body collapse">
		      <div class="accordion-inner">
				<ul>
					<li><input type="checkbox"><label>Sales funnel</label></li>
					<li><input type="checkbox"><label>Sales process</label></li>
					<li><input type="checkbox"><label>Sales Management</label></li>
				</ul>
		      </div>
		    </div>
		  </div>
		  <div class="accordion-group">
		    <div class="accordion-heading">
		      <a class="accordion-toggle" data-toggle="collapse" data-parent="#jobTAGS" href="#collapseTwo">
		        FUNDRAISING
		      </a>
		    </div>
		    <div id="collapseTwo" class="accordion-body collapse">
		      <div class="accordion-inner">
				<ul>
					<li><input type="checkbox"><label>Pitching</label></li>
					<li><input type="checkbox"><label>Fundraising strategy</label></li>
					<li><input type="checkbox"><label>Financial Projections</label></li>
				</ul>
		      </div>
		    </div>
		  </div>
		  
		</div>


<script src="../../scripts/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>