
<!doctype html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <link rel="dns-prefetch" href="//ajax.googleapis.com" />
<!-- <link rel="dns-prefetch" href="//0.envato-static.com" />
<link rel="dns-prefetch" href="//1.envato-static.com" />
<link rel="dns-prefetch" href="//2.envato-static.com" />
<link rel="dns-prefetch" href="//3.envato-static.com" />
<link rel="dns-prefetch" href="//0.s3.envato.com" />
<link rel="dns-prefetch" href="//1.s3.envato.com" />
<link rel="dns-prefetch" href="//2.s3.envato.com" />
<link rel="dns-prefetch" href="//3.s3.envato.com" />
 -->
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    
    <title>Admin</title>
    
    <meta name="description" content="&amp;lt;a href=&amp;quot;https://twitter.com/BaldTheme&amp;quot;&amp;gt;&amp;lt;img src=&amp;quot;http://baldtheme.com/th...">
    
    <meta name="robots" content="noindex, nofollow" />
    
    <!-- <link href="http://1.envato-static.com/assets/fullscreen_preview-2dff58760ddd3fb5acb3540e65f6ef43.css" media="screen" rel="stylesheet" type="text/css" />
    
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/icons/themeforest.net/apple-touch-icon-144x144-precomposed.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/icons/themeforest.net/apple-touch-icon-114x114-precomposed.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/icons/themeforest.net/apple-touch-icon-72x72-precomposed.png" />
<link rel="apple-touch-icon-precomposed" href="/icons/themeforest.net/apple-touch-icon-precomposed.png" /> -->
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write("<script src='http://3.envato-static.com/assets/jquery-74706bae09255db777f0225ef9b18892.js'><\/script>")</script>


    <script>
      //function to fix height of iframe!
      var calcHeight = function() {
        var headerDimensions = $('#header-bar').height();
        $('#preview-frame').height($(window).height() - headerDimensions);
      }

      $(document).ready(function() {
        calcHeight();
        $('#header-bar a.close').mouseover(function() {
          $('#header-bar a.close').addClass('activated');
        }).mouseout(function() {
          $('#header-bar a.close').removeClass('activated');
        });
      });

      $(window).resize(function() {
        calcHeight();
      }).load(function() {
        calcHeight();
      });
    </script>

    <script src="http://0.envato-static.com/assets/application_head-b5c05cfbd9b2ae5cdcab35482f80f139.js" type="text/javascript"></script>
    
      <meta content="ThemeForest" name="WT.site" />

  <meta content="" name="WT.si_n" />
  <meta content="" name="WT.si_x" />
  <meta content="" name="WT.si_cs" />



  <script>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-11834194-7']);
  _gaq.push(['_trackPageLoadTime']);
  _gaq.push(['_setDomainName', 'themeforest.net']);
  _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview']);

  _gaq.push(['b._setAccount', 'UA-11834194-36']);
  _gaq.push(['b._trackPageLoadTime']);
    _gaq.push(['b._trackPageview']);

  
  (function() {
    var ga = document.createElement('script');
    ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

  <!-- Google code for retargeting -->
<script type="text/javascript">
  /* <![CDATA[ */
  var google_conversion_id = 1065398951;
  var google_conversion_label = "u-J6CI3SqQMQp-WC_AM";
  var google_custom_params = window.google_tag_params;
  var google_remarketing_only = true;
  /* ]]> */
  marketplace.queue(function() {
    // Google ad code uses document.write heavily, since this doesn't work once the page has loaded we
    // need to provide a version that will.
    document.write = function(content) {
      $('body').append(content);
    };
    marketplace.load("//www.googleadservices.com/pagead/conversion.js");
  });
</script>
<noscript>
  <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1065398951/?value=0&amp;label=u-J6CI3SqQMQp-WC_AM&amp;guid=ON&amp;script=0"/>
  </div>
</noscript>

  
  <!-- START OF SmartSource Data Collector TAG v10.2.0 -->
<!-- Copyright (c) 2012 Webtrends Inc.  All rights reserved. -->
<script>
window.webtrendsAsyncInit=function(){
    var dcs=new Webtrends.dcs().init({
        dcsid:"dcsbkb9azvz5bdcyrezh0wose_5r8l"
        ,domain:"statse.webtrendslive.com"
        ,timezone:10
        ,offsite:true
        ,download:true
        ,downloadtypes:"xls,doc,pdf,txt,csv,zip,docx,xlsx,rar,gzip"
        ,onsitedoms:"themeforest.net"
        ,plugins:{
            hm:{src:"//s.webtrends.com/js/webtrends.hm.js"}
        }
        }).track();
};
marketplace.load("http://1.envato-static.com/assets/webtrends-5a2a0b3d9f0eeafea3f60e4831cf4958.js");
</script>
<noscript><img alt="dcsimg" id="dcsimg" width="1" height="1" src="//statse.webtrendslive.com/dcs4nx9hnvz5bd4wo8cwvxpse_5g4u/njs.gif?dcsuri=/nojavascript&amp;WT.js=No&amp;WT.tv=10.2.0&amp;dcssip=themeforest.net"/></noscript>
<!-- END OF SmartSource Data Collector TAG v10.2.0 -->


  <script type="text/javascript">var NREUMQ=NREUMQ||[];NREUMQ.push(["mark","firstbyte",new Date().getTime()]);</script></head>

  <body>
    <div id="header-bar">

  <div class="close-header">
    <a id="close-button" title="Close ThemeForest Bar" class="close" href="http://baldtheme.com/theme/cleanizr/html/">X</a>
  </div>

  <p class="meta-data">
    <a class="close" href="http://baldtheme.com/theme/cleanizr/html/">Remove Frame</a> <a class="purchase" href="/item/cleanizr-responsive-admin-template/4986094" >Purchase this Item!</a>
  </p>

  <a class="athemeforest-preview-logo site-loopback" href="/item/cleanizr-responsive-admin-template/4986094">themeforest</a><span class="preview">item preview</span>
</div>
<iframe id="preview-frame" src="http://baldtheme.com/theme/cleanizr/html/" name="preview-frame" frameborder="0" noresize="noresize">
</iframe>

    <script>marketplace.runQueues();</script>
  <script type="text/javascript">if (!NREUMQ.f) { NREUMQ.f=function() {
NREUMQ.push(["load",new Date().getTime()]);
var e=document.createElement("script");
e.type="text/javascript";
e.src=(("http:"===document.location.protocol)?"http:":"https:") + "//" +
  "js-agent.newrelic.com/nr-100.js";
document.body.appendChild(e);
if(NREUMQ.a)NREUMQ.a();
};
NREUMQ.a=window.onload;window.onload=NREUMQ.f;
};
NREUMQ.push(["nrfj","beacon-5.newrelic.com","fcf8d519de","13909,2324476,716468","dA4NFkNbVV1URBcMRVIMTAREWFVuQlVKAFRZPhMQVEJQVEY=",7,20,new Date().getTime(),"","","","",""]);</script></body>
</html>
