<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>MEST INCUBATOR</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		<!-- Le styles -->
		<link href="../scripts/bootstrap/css/bootstrap.css" rel="stylesheet">
		<link href="../scripts/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
		<link href="../scripts/css/newHome.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" type="text/css" href="../scripts/css/mentorcaption.css">
	</head>

	<body class="main-body-container">

		<!-- NAVBAR
		================================================== -->
	 <nav class="navbar-wrapper">
			<!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
			<div class="container" id="body-container">

				<div class="navbar navbar-inverse">
					<div class="navbar-inner">
						<!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
						<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="brand" href="/delete">MEST MENTOR PLATFORM</a>
						<!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
						<div class="nav-collapse collapse">
							<ul class="nav">
								<li class="active"><a href="/delete">Home</a></li>
								<li><a href="#">About</a></li>
								<li><a href="#">Contact</a></li>
							</ul>
							
						</div><!--/.nav-collapse -->
					</div><!-- /.navbar-inner -->
				</div><!-- /.navbar -->

			</div> <!-- /.container -->
		</nav><!-- /.navbar-wrapper -->



		<!-- Carousel
		================================================== -->
		 <div id="myCarousel" class="carousel slide">
			<div class="carousel-inner">
				<div class="item active">
					<!-- <img src="../scripts/img/consultant.jpg" alt=""> -->
					<img src="../scripts/img/carousel-background.jpg" alt="">
					<div class="container">
						<div class="carousel-caption">
							<h1>Mentor Program.</h1>
							<p class="lead">Teach, coach, train and inspire the next generation of software entreprenuers springing out of Africa to take on the world</p>
							<a class="btn btn-large btn-primary btn-info pull-left" href="#mentor">Learn more</a>
							<img src="../script/img/consultant.jpg">
							<form method="POST" class="sign_up_mentor">
								<button id="mentor-signup-button" class="btn btn-large btn-primary btn-info pull-left" name="action" value="sign_up_mentor">
									Signup
								</button>
							</form>
							<!-- <a class="btn btn-large btn-primary btn-info" href="#mentor">Signup</a> -->
							<div class="pull-right" id="mentor-img"></div>
						</div>
					</div>
				</div>
				<div class="item">
					<img src="../scripts/img/carousel-background.jpg" alt="">
					<div class="container">
						<div class="carousel-caption">
							<h1>Senior Fellow</h1>
							<p class="lead">Can you lead, inspire and motivate the next generation of globally successful software entreprenuers? Do you have the passion to see these outliers succeed?</p>
							<a class="btn btn-large btn-primary btn-info pull-left" href="#snr-faculty">Learn more</a>
							<form method="POST" class="sign_up_mentor">
								<button id="mentor-signup-button" class="btn btn-large btn-primary btn-info pull-left" name="action" value="sign_up_mentor">
									Signup
								</button>
							</form>
						</div>
					</div>
				</div>
				<div class="item">
					<img src="../scripts/img/carousel-background.jpg" alt="">
					<div class="container">
						<div class="carousel-caption">
							<h1>MBA Consultancy.</h1>
							<p class="lead">Are you an MBA student? Why not step out of the classroom and begin making immdiate impact in the real world among entreprenuers destined to succeed? </p>
							<a class="btn btn-large btn-primary btn-info pull-left" href="#mba-consultant">Learn more</a>
							<form method="POST" class="sign_up_mentor">
								<button id="mentor-signup-button" class="btn btn-large btn-primary btn-info pull-left" name="action" value="sign_up_mentor">
									Signup
								</button>
							</form>
						</div>
					</div>
				</div>
				<div class="item">
					<img src="../scripts/img/carousel-background.jpg" alt="">
					<div class="container">
						<div class="carousel-caption">
							<h1>Trusted Advisor.</h1>
							<p class="lead">I bet you have a ton of experience under your belt. Why keep it all to yourself. Share. Groom these ambitious entraprenuers to maximise thier success potential and aviod rockie pitfalls</p>
							<a class="btn btn-large btn-primary btn-info pull-left" href="#advisor">Learn more</a>
							<form method="POST" class="sign_up_mentor">
								<button id="mentor-signup-button" class="btn btn-large btn-info pull-left" name="action" value="sign_up_mentor">
									Signup
								</button>
							</form>
						</div>
					</div>
				</div>
				<div class="item">
					<img src="../scripts/img/carousel-background.jpg" alt="">
					<div class="container">
						<div class="carousel-caption">
							<h1>Entreprenuers In Training (EITs).</h1>
							<p class="lead">The next breed of software entreprenuers who will change the world. There are many ways to join this vibrant community.</p>
							<a class="btn btn-large btn-info" href="#eits">Learn more</a>
						</div>
					</div>
				</div>
				<div class="item">
					<img src="../scripts/img/carousel-background.jpg" alt="">
					<div class="container">
						<div class="carousel-caption">
							<h1>Job Openings</h1>
							<p class="lead">Apply for a position with one of our fast-growing start-ups.</p>
							<a class="btn btn-large btn-info pull-left" href="#eits">Learn more</a>
							<form method="POST" class="sign_up_applicant">
								<button id="applicant-signup-button" class="btn btn-large btn-info pull-left" name="action" value="sign_up_applicant">
									Signup
								</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			<a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
			<a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
		</div><!-- /.carousel -->

<!-- BODY CONTENT 
================================================================-->
		<div class="container" id="body-content">

			<!-- LEFT COLUMN -->
			<!-- <div class="span10" id="left-column"> -->
				<div class="row" id="program-brief">
					<section class="row">
						<article class="">
							<h3 class="featurette-heading">Be a part of the MEST global network.</h3>
							<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
							
						 	<br>
						</article>
					</section>
				</div>
				<div class="row" id="featured-mentor">

					<!-- mentor program overview -->
				<section id="overview">
					<div class="tabbable"> <!-- Only required for left/right tabs -->
					  <ul class="nav nav-tabs">
					    <li class="active"><a href="#tab1" data-toggle="tab">Mentors</a></li>
					    <li><a href="#tab2" data-toggle="tab">Senior Fellow</a></li>
					    <li><a href="#tab3" data-toggle="tab">MBA Consultant</a></li>
					    <li><a href="#tab4" data-toggle="tab">Trusted Advisor</a></li>
					  </ul>


					  <div class="tab-content">
					    <div class="tab-pane active" id="tab1">
					    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu libero sapien. Quisque nec turpis nec ipsum eleifend tincidunt id ut ante. Etiam eleifend viverra dapibus. Phasellus ut euismod risus, fringilla consequat dui. Nunc in gravida nunc, in rutrum libero. Suspendisse ullamcorper vestibulum felis, non fermentum nisi eleifend et. Curabitur pharetra dui felis, sed tempor neque tincidunt eu. Nulla sodales mollis posuere.

						Pellentesque id dictum sapien. Aliquam quis risus tortor. In hac habitasse platea dictumst. In ipsum mauris, sagittis sed tristique et, semper ut orci. Nam ut tincidunt leo. Aliquam erat volutpat. Mauris eu risus massa. In convallis tortor in ligula gravida suscipit.</p>
					    </div>
					    <div class="tab-pane" id="tab2">
					    <p>In sed semper lectus, ut condimentum diam. Nam id dapibus felis, quis venenatis sapien. Proin id accumsan nibh. Fusce laoreet feugiat justo id lacinia. Sed pulvinar auctor venenatis. Quisque eu metus elementum, ornare risus a, hendrerit velit. Nullam nec elementum velit, at elementum nibh. Nam id lacus vehicula, lobortis enim in, aliquam mauris. Etiam augue sapien, laoreet id lacus convallis, rhoncus viverra eros. Maecenas interdum turpis egestas dolor accumsan, vel suscipit sem convallis. Sed viverra odio quis massa aliquet vulputate. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer purus lectus, malesuada sit amet neque vel, accumsan mattis ipsum.</p>
					    </div>
					    <div class="tab-pane" id="tab3">
					    <p>Nulla mattis, urna nec dapibus hendrerit, libero libero fringilla eros, non placerat massa purus a orci. Aenean velit urna, cursus nec turpis vitae, porttitor scelerisque lacus. Ut diam magna, bibendum in sollicitudin ultrices, volutpat ut nulla. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam mollis ligula eros, ac elementum libero vehicula eu. Duis at congue ligula, sed ornare purus. Nullam gravida ultricies diam, vel ullamcorper quam tempus non. Donec euismod in nibh nec laoreet. Praesent adipiscing diam at urna sagittis, imperdiet vulputate magna volutpat. In hac habitasse platea dictumst. Quisque faucibus rutrum lacinia. Ut viverra mi at ipsum laoreet vulputate. Pellentesque quis tempus orci. Morbi vel vestibulum est, at pharetra urna.</p>
					    </div>
					    <div class="tab-pane" id="tab4">
					     <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
					    </div>
					  </div>
					</div>
						<form method="POST" class="sign_up_mentor">
								<button id="mentor-signup-button" class="btn btn-medium btn-info pull-right" name="action" value="sign_up_mentor">
									Apply now
								</button>
						</form>
				</section>

					<!-- overview ends -->

					<section class="row" id="featured-mentors">   
						<h3 Class="featurette-heading">Featured Mentors</h3>
							<div class="row search-result-mentor">
								<ul class="grid cs-style-3">
									<li class="span2 found-result-mentor">
										<figure>
											<div><img src="../scripts/img/noah.jpg" alt="img04"></div>
											<figcaption>
												<div>
													<span><h3 class="name-mentor">Noah Fontes</h3></span>
													<span>Universal University</span><br>
													<span>Tech Fellow</span><br>
													<span>MEST</span>
												</div>
												<a href="#">View profile</a>   
											</figcaption>
										</figure>
									</li>
									<li class="span2 found-result-mentor">
										<figure>
											<div><img src="../scripts/img/brooke.jpg" alt="img04"></div>
											<figcaption>
												<div>
												 <spa><h3 class="name-mentor">Brooke Cassof</h3></span>
													<span>New York University</span><br>
													<span>Communications Fellow</span><br>
													<span>MEST</span>
												</div>
												<a href="#">View profile</a>   
											</figcaption>
										</figure>
									</li>
									<li class="span2 found-result-mentor">
										<figure>
											<div><img src="../scripts/img/rich.jpg" alt="img04"></div>
											<figcaption>
												<div >
													<h3 class="name-mentor">Richard Tanksley</h3>
													<span>University of </span><br>
													<span>Head of Operations</span><br>
													<span>MEST</span>
												</div>
												<a href="#">View profile</a>   
											</figcaption>
										</figure>
									</li>
									
									<li class="span2 found-result-mentor">
										<figure>
											<div><img src="../scripts/img/patricia.jpg" alt="img04"></div>
											<figcaption>
												<div>
													<h3 class="name-mentor">Patricia Schmiss</h3>
													<span>New York University</span><br>
													<span>Communications Fellow</span><br>
													<span>MEST</span>
												</div>
												<a href="#">View profile</a>   
											</figcaption>
										</figure>
									</li>
									<li class="span2 found-result-mentor">
										<figure>
											<div><img src="../scripts/img/ben.jpg" alt="img04"></div>
											<figcaption>
												<div>
													<h3 class="name-mentor">Ben Haynor</h3>
													<span>New York University</span><br>
													<span>Communications Fellow</span><br>
													<span>MEST</span>
												</div>
												<a href="#">View profile</a>   
											</figcaption>
										</figure>
									</li>
								</ul>      
							</div>
							<p><a class="" href="company-portfolio.html" id="view-mentors">View complete fetured mentor profile</a></p>
					</section>
				</div>
			</div>

				<!-- RIGHT COLUMN -->
			
		</div> <!-- body-content ends -->
	

		<!-- FOOTER -->
		<footer class="nav">
	<div class="container">
		<h4>MEST GLOBAL NETWORK  &mdash; shapping the future together!</h4>
		<div id="social-media">
			<ul>
				<li><a href="http://www.facebook.com/pages/Accra-Ghana/Meltwater-Entrepreneurial-School-of-Technology/63789311326?ref=ts"><img src="../scripts/img2/social-icon/facebook.png"></a></li>
				<li><a href="http://twitter.com/MESTghana"><img src="../scripts/img2/social-icon/twitter.png"></a></li>
				<li><a href=""><img src="../scripts/img2/social-icon/googleplus.png"></a></li>
				<li><a href="http://www.linkedin.com/companies/583588"><img src="../scripts/img2/social-icon/linkedin.png"></a></li>
				<li><a href=""><img src="../scripts/img2/social-icon/rss.png"></a></li>
				<li><a href="mailto:meltwater@melwater.org"><img src="../scripts/img2/social-icon/mail.png"></a></li>
			</ul>
		</div>
		<p><a href="#">&#169;2013   meltwater entreprenuerial school of technology</a></p>
	</div>
</footer>




		<!-- Le javascript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
 <script src="../scripts/js/jquery-2.0.3.min.js"></script>
 <script src="../scripts/js/modernizr.custom.js"></script>
 <script src="../scripts/js/toucheffects.js"></script>
<!-- <script src="js/jquery.flexslider-min.js"></script> -->
 <script src="../scripts/bootstrap/js/bootstrap.js"></script>
 <script type="text/javascript">
	 $(document).ready(function(){
	 		$('#entrepreneur-signup-button').tooltip();
	 		$('#signin').tooltip();
	 });
 </script>
</body>
</html>
