<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Message Center</title>
	<!-- // <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script> -->
	<link href="../scripts/css/css3-gmail-style.css" media="all" rel="stylesheet" type="text/css" />
	<link href="../scripts/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="../scripts/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" type="text/css">
	<!-- <link rel="stylesheet" type="text/css" href="../../../scripts/css/search-result.css"> -->
	<link rel="stylesheet" type="text/css" href="../scripts/css/message-center.css">
	<!-- start Dropifi --> <script type='text/javascript' src='https://s3.amazonaws.com/dropifi/js/widget/dropifi_widget.min.js'></script><script type='text/javascript'>document.renderDropifiWidget('d50c6bd9e2b036bdbc82532cf493b82a-1384997155883');</script> <!-- end Dropifi -->
</head>

<body style="background:#fafafa">

	<!-- Navbar -->
	<div id="wrap">
	    <div id="navigation-bar" class="row">
	      <div class="navbar navbar-inverse navbar-fixed-top">
	          <div class="navbar-inner">
	              <div class="container">
	                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	                  <span class="icon-bar"></span>
	                  <span class="icon-bar"></span>
	                  <span class="icon-bar"></span>
	                </button>
	                <div class="nav-collapse collapse pull-right">
	                  <ul class="nav">
	                    <li class="">
	                      <a href="/search">Search</a>
	                    </li>
	                    <li class="active">
	                      <a href="/messages">Messages</a>
	                    </li>
	                    <li class="pull-right">
	                      <a href="/signout">Signout</a>
	                    </li>
	                  </ul>
	                </div>
	              </div>
	          </div>
	      </div>
	    </div>  
	   <!-- Navbar ends-->

		<div id="alert" class="offset3 ">
			<div class="alert alert-success fade in">
				<a class="close " data-dismiss="alert" href="#">&times;</a>
				Message was successfully sent
			</div>
			<div class="alert alert-warning fade in">
				<a class="close" data-dismiss="alert" href="#">&times;</a>
				Message was NOT sent. Try again
			</div>
			<div class="alert alert-warning sending-message fade in">
				<a class="close" data-dismiss="alert" href="#">&times;</a>
				Sending message .....
			</div>
		</div>

		<!-- INBOX ACTIONS -->
		{% if compose == False %}
		<div class="tabbable" id="mail-tabs" data-user-email="{{user.notify_mail}}"> 
			<div id="mail">

				<ul class="grouped hideit">
<!-- 					<li>
						<select id="mail-select">
							<option value="all-mail" class="" data-msg-type="all">All</option>
							<option value="mentor-mail" class="" data-msg-type="mentors">Mentor</option>
							<option value="applicant-mail" class="" data-msg-type="applicants">Applicant</option>
						</select>
					</li> -->
					<li><a href="#" class="bttn icon mail display-inbox active" data-msg-type="inbox">Inbox</a></li>
					<li><a href="#" class="bttn icon mail display-inbox" data-msg-type="sent">Sent</a></li>
					<li style="margin-left: 120px;"><a href="#" class="bttn mark_read">Mark as Read</a></li>
					<li><a href="#" class="bttn mark_unread">Mark as Unread</a></li>
					<li><a href="#" class="bttn icon delete">Delete</a></li>
				</ul>

<!-- 				<form class="form-search pull-right hideit" id="mail-search">
					<div class="input-append">
						<input class="span5 search-query" id="appendedInput" type="text" placeholder="search mail">
						<span class="add-on">Search</span>
					</div>
				</form> -->
				<!-- INBOX ACTIONS ENDS -->

				<!-- INBOX VIEW -->
				<table class="table table-bordered mailinbox" style="border-collapse:collapse; margin-top:10px;" border="0" cellpadding="5" cellspacing="3">
					<thead class="hideit inbox-header">
						<tr>
							{% if messages.count() > 0%}
								<th class="head1 aligncenter"><input type="checkbox" class="checkall" /></th>
								<th class="head0">&nbsp;</th>
								<th class="head1">From</th>
								<th class="head0">Subject</th>
								<!-- <th class="head1 attachement">&nbsp;</th> -->
								<th class="head0">Date</th>
							{% else %}
								<th class="head0 aligncenter" colspan='6' >You have no new messages</th>
							{% endif %}
						</tr>
					</thead>
					<tbody class="inbox-container hideit">
						{% for message in messages %}
							<tr class="{{message.status}} message-item" id="{{message.key().id()}}">
								<td class="aligncenter favorite">
									<input type="checkbox" class="checkbox" name="" data-message-id="{{message.key().id()}}"/>
								</td>
								<td class="star">
									{% if message.starred == "True" %}
									<a class="msgstar starred" data-message-id="{{message.key().id()}}"></a>
								</td>
									{% else %}
									<a class="msgstar" data-message-id="{{message.key().id()}}"></a>
								</td>
									{% endif %}
								<td  class="title" data-message-id="{{message.key().id()}}" id="msg_sender_name">{{message.sender.first_name}} {{message.sender.last_name}}</td>
								<td>
									<a href="#" class="title" data-message-id="{{message.key().id()}}">{{message.subject}}</a>
								</td>
							<!-- 	<td class="attachment">
									<img src="../scripts/img/attachment.png" alt="" />
								</td> -->
								<td class="date">{{message.created.ctime()}}</td>
							</tr>
						{% endfor %}
					</tbody>
					<tbody id="opened-message">
					</tbody>
				</table>             
			</div>

	    </div>
		<!-- INBOX VIEW ENDS -->


		<!-- Compose box for replying a message --> 	
		<center class="row-fluid" id="compose-msg" style="display:none;">

			<div class="span1" id="compose-side"></div>

			<div class="span7 pull-left" id="msg-container">						
				<div class="row-fluid" >

					<div class="row-fluid width-msg" >	
						<div class="span6">	
							<div class="input-prepend pull-left" id="msg-recipient-container">	
								<span class="span3 add-on label-height" id="msg-recipient-label"><label>To:</label></span>
								<div class="span9" id="msg-recipient">
									<input class="pull-left" type="text" id="msg-recipient-input" name="msg-subject" disabled value="" data-receiver-id="">
								</div> 
							</div>
						</div>					

						<div class="span6">
							<div class="input-prepend pull-right" id="msg-type-container">
								<span class="span5 add-on label-height" id="msg-type-label"><label>Type of conversation:</label></span>
								<div class="span3" id="msg-select">
									<select id="mail-selected">  
										<option value="first-mtg">First contact and intro</option>
										<option value="arrange-mtg">Arrange a meeting </option>
										<option value="before-mtg">Prior to meeting</option>
										<option value="after-mtg">After the meeting</option>
										<option value="follow-up">Follow-up</option>
									</select>
								</div>
							</div>
						</div>	
					</div>

					<div class="row-fluid width-msg">
						<div class="input-prepend pull-left" id="msg-subject-container">
							<span class="span3 add-on label-height" id="msg-subject-label"><label>Subject:</label></span>
								<input class="pull-left span8" type="text" id="msg-subject-input" name="msg-subject" placeholder="Seeking advice about email marketing">
						</div>

						<div class="input-prepend pull-right" id="msg-notify-container">
							<span class="span4 add-on label-height">Notify me on:</span>
							<input class="span3" id="msg-sender-notify" size="" type="email" placeholder="email" >
						</div>
					</div>

					<div class="row-fluid msg-content" id="msg-content-container">
						<textarea name="" id="new_message" cols="30" rows="10"></textarea>
					</div>

					<div class="row-fluid" id="send-button-container">
						<div class="span2 pull-right" id="send-button">
							<button class="btn send-reply-message reply-msg-option"  id="send-reply-message">Send</button>
						</div>
						<div class="span2 pull-right" id="cancel-button" style="margin-top: 10px; margin-right: 12px;">
							<button class="btn cancel-reply-message reply-msg-option" id="cancel-reply-message">Back</button>
						</div>
					</div>

				</div>
			</div>

			<div class="span4 pull-left" id="validate">
				<p><strong>Useful tips</strong></p>
				<div>

					<!-- intro -->
					<div id="first-mtg" class="row-fluid carousel slide tip-carousel">
						<div id="myCarousel" class="carousel slide">
							<ol class="carousel-indicators " >
								<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
								<li data-target="#myCarousel" data-slide-to="1"></li>
								<li data-target="#myCarousel" data-slide-to="2"></li>
								<li data-target="#myCarousel" data-slide-to="3"></li>
								<li data-target="#myCarousel" data-slide-to="4"></li>
								<li data-target="#myCarousel" data-slide-to="5"></li>
								<li data-target="#myCarousel" data-slide-to="6"></li>
								<li data-target="#myCarousel" data-slide-to="7"></li>
								<li data-target="#myCarousel" data-slide-to="8"></li>
								<li data-target="#myCarousel" data-slide-to="9"></li>
								<li data-target="#myCarousel" data-slide-to="10"></li>
								<li data-target="#myCarousel" data-slide-to="11"></li>
								<li data-target="#myCarousel" data-slide-to="12"></li>
								<li data-target="#myCarousel" data-slide-to="13"></li>
								<li data-target="#myCarousel" data-slide-to="14"></li>
								<li data-target="#myCarousel" data-slide-to="15"></li>
								<li data-target="#myCarousel" data-slide-to="16"></li>
								<li data-target="#myCarousel" data-slide-to="17"></li>
							</ol>
							<!-- Carousel items -->
							<div class="carousel-inner">
								<div class="active item"><p> Always fill in the subject line with a topic that means something to your reader. Not "Deadline" or "Important!" but "Revised deadline for product update."</p></div>
								<div class="item"><p>Put your main point in the opening sentence. Most readers won't stick around for a surprise ending.</p></div>
								<div class="item"><p>Never begin a message with a vague "This." As in, "This needs to be done by 5:00." Always specify what you're writing about.</p></div>
								<div class="item"><p>Don't use ALL CAPITALS - no shouting! Also, don’t use all lower-case letters.</p></div>
								<div class="item"><p>As a general rule, PLZ avoid textspeak (abbreviations and acronyms): you may be ROFLOL (rolling on the floor laughing out loud), but your reader may be left wondering WUWT (what's up with that).</p></div>
								<div class="item"><p>Be brief and polite.</p></div>
								<div class="item"><p>If your message runs longer than two or three short paragraphs, consider (a) reducing the message, or (b) providing an attachment.</p></div>
								<div class="item"><p>Remember to say "Please" and "Thank you." </p></div>
								<div class="item"><p>Add a signature block with appropriate contact information (in most cases, your name, business address, and phone number, along with a legal disclaimer if required by your company).</p></div>
								<div class="item"><p>Important: edit and proofread before hitting "send." You may think you're too busy to sweat the small stuff, but your reader will think you're careless.</p></div>
								<div class="item"><p>Reply promptly to serious messages. If you need more than 24 hours to collect information or make a decision, send a brief response explaining the delay.</p></div>
								<div class="item"><p>Start with a salutation. e.g. Dear Mr. Jones, or Dear Professor Smith for someone you don’t know well, especially if they’re a superior, and Dear Joe, or Dear Mandy if you have a working relationship with the person.</p></div>
								<div class="item"><p>Stick to one topic for each email.</p></div>
								<div class="item"><p>Use simple English.</p></div>
								<div class="item"><p>Always, always proofread email before sending!</p></div>
								<div class="item"><p>Link to referenced documents or resources whenever possible. Don’t simply say “Kindly refer to the marketing plan document.” Instead, provide a link to said document (or include it as an attachment). Make things as easy as possible for your reader.</p></div>
							</div>	
							 <!-- Button to trigger modal -->
							<a href="#mailsampleModal" role="button" class="btn sample-btn" data-toggle="modal">view sample</a>
						 	<!-- Modal -->
							<div id="mailsampleModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
									<h3 id="myModalLabel">Introductory email sample</h3>
								</div>
								<div class="modal-body sample-body">
									
									<p>Hi Jack,</p>

									<p>I’m Kwame, co-founder and CTO of Jhello, an incubator company at the Meltwater Entrepreneurial School of Technology. I’m writing to ask your advice on how to scale our technical infrastructure.</p>

									<p>Jhello is a private social network for members of the African diaspora. We’re growing very rapidly, and we’re having trouble scaling our infrastructure. Considering your experience scaling infrastructure for multiple companies, I would love to get your perspective on how to do this most effectively.</p>

									<p>Would it be possible to Skype for an hour sometime next week to discuss strategies that might help us deal with this?</p>

									<p>Regards,<br>
									Kwame</p>

								</div>
								<div class="modal-footer"><button class="btn sample-btn" data-dismiss="modal" aria-hidden="true">Close</button></div>			
							</div>
						</div>
					</div>	
						<!-- arrange mtg -->
					<div id="arrange-mtg" class="row-fluid carousel slide tip-carousel">
						<div id="myCarousel1" class="carousel slide">
							<ol class="carousel-indicators " >
								<li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
								<li data-target="#myCarousel1" data-slide-to="1"></li>
								<li data-target="#myCarousel1" data-slide-to="2"></li>
								<li data-target="#myCarousel1" data-slide-to="3"></li>
								<li data-target="#myCarousel1" data-slide-to="4"></li>
								<li data-target="#myCarousel1" data-slide-to="5"></li>
								<li data-target="#myCarousel1" data-slide-to="6"></li>
							</ol>

							<div class="carousel-inner">
								<div class="active item"><p>Have you decided on an agreeable time( Use international meeting planner).</p></div>
								<div class="item"><p>Send a calendar invite with agenda.</p></div>
								<div class="item"><p>Use Fuze for screen sharing.</p></div>
								<div class="item"><p>Send screenshots/documentation if applicable.</p></div>
								<div class="item"><p>Check for spelling.</p></div>
								<div class="item"><p>Share contact details( Skype, Google etc).</p></div>
								<div class="item"><p>Keep it short and crisp.</p></div>
							</div>
							<!-- sample modal -->
							<!-- Button to trigger modal -->
							<a href="#mailsampleModal2" role="button" class="btn sample-btn" data-toggle="modal">view sample</a>

							 <!-- Modal -->
							<div id="mailsampleModal2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
									<h3 id="myModalLabel">Meeting arrangement email sample</h3>
								</div>
								<div class="modal-body sample-body">
									
									<p>Hi Jack, Teresa:</p>

									<p>I wanted to reach out to everyone regarding our meeting on Thursday, September 19th. Kindly confirm if you’re both ok with vidchatting at 15:00-16:00 GMT.</p>

									<p>1) Here’s the login info for a demo of the app: </p>

									<p>login url: (login url)<br>
									username: (demo userid)<br>
									password: (pwd)</p>

									<p>2) Here’s an agenda outlining the areas we’d like to discuss: [Short, five-point agenda]</p>

									<p>3) Finally, kindly let me know if you’re OK vidchatting via Skype, or if there’s another service you’d prefer. If Skype works for you, please let me know your Skype IDs. Mine is [insert Skype ID]. </p>

									<p>Looking forward to the conversation!</p>

									<p>Cheers,<br>
									Kwesi</p>

								</div>
								<div class="modal-footer"><button class="btn" data-dismiss="modal" aria-hidden="true">Close</button></div>					
							</div>
						</div>
					</div>	
					<!-- before the mtg -->
					<div id="before-mtg" class="row-fluid carousel slide tip-carousel">
						<div id="myCarousel2" class="carousel slide">
							<ol class="carousel-indicators " >
								<li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
								<li data-target="#myCarousel2" data-slide-to="1"></li>
								<li data-target="#myCarousel2" data-slide-to="2"></li>
								<li data-target="#myCarousel2" data-slide-to="3"></li>
								<li data-target="#myCarousel2" data-slide-to="4"></li>
							</ol>
							<!-- Carousel items -->
							<div class="carousel-inner">
								<div class="active item"><p>Send a calendar invite with agenda· </p></div>
								<div class="item"><p>Setup demo account and include log-in details if applicable·</p></div>
								<div class="item"><p>Use Fuze for screen sharing.</p></div>
								<div class="item"><p>Send screenshots/Documentation if applicable.</p></div>
								<div class="item"><p>Check for spelling.</p></div>
								<div class="item"><p>Keep it short and crisp.</p></div>
							</div>
							 <!-- sample modal -->
							 <!-- Button to trigger modal -->
							<a href="#mailsampleModal3" role="button" class="btn sample-btn" data-toggle="modal">view sample</a>
							 <!-- Modal -->
							<div id="mailsampleModal3" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
									<h3 id="myModalLabel">Before the meeting email sample</h3>
								</div>
								<div class="modal-body sample-body">
									                              
									<p>Hi Jack,</p>

									<p>Hope you’re doing well. This is a reminder for our meeting in two days, on September 19th, at 17.00 GMT.</p>

									<p>1) Here’s the login info for the app demo:</p>

									<p>login url: (login url)<br>
									username:(demo userid)<br>
									password:(pwd)</p>

									<p>2) Here’s an agenda outlining the areas we’d like to discuss: [Short, five-point agenda]</p>

									<p>Many thanks, and talk to you soon!</p>

									<p>Regards,<br>
									Kwame</p>

								</div>
								<div class="modal-footer">
									<button class="btn sample-btn" data-dismiss="modal" aria-hidden="true">Close</button>
								</div>
							</div>
						</div>
					</div>
					<!-- after mtg -->
					<div id="after-mtg" class="row-fluid carousel slide tip-carousel">
						<div id="myCarousel3" class="carousel slide">
							<ol class="carousel-indicators " >
								<li data-target="#myCarousel3" data-slide-to="0" class="active"></li>
								<li data-target="#myCarousel3" data-slide-to="1"></li>
								<li data-target="#myCarousel3" data-slide-to="2"></li>
								<li data-target="#myCarousel3" data-slide-to="3"></li>
								<li data-target="#myCarousel3" data-slide-to="4"></li>
							</ol>
							<!-- Carousel items -->
							<div class="carousel-inner">
								<div class="active item"><p>Send summary of your interaction· </p></div>
								<div class="item"><p>Action points with deadlines and who is responsible for them·</p></div>
								<div class="item"><p>Next steps?</p></div>
								<div class="item"><p>Ask for feedback about overall interaction.</p></div>
								<div class="item"><p>Thank them for their time and effort.</p></div>
							</div>
						</div>
						<!-- sample modal -->
						<!-- Button to trigger modal -->
						<a href="#mailsampleModal4" role="button" class="btn sample-btn" data-toggle="modal">view sample</a>
						 <!-- Modal -->
						<div id="mailsampleModal4" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
								<h3 id="myModalLabel">After meeting email sample</h3>
							</div>
							<div class="modal-body sample-body">
								<p>Hello all,</p>

								<p>Once again, on behalf of the entire Jhello team, I’d like to thank you for making the time to support us. Your insight so far has been invaluable.</p>

								<p>Here is a summary of action items.</p>

								<p>1. Kwame: change all selections to checkboxes<br>
								2. Kwame: start work on the message center tonight and admin panel next week. [Kwame]<br>
								3. Jack: make email introduction to the person who scaled Facebook’s technical infrastructure</p>

								<p>We tentatively set a date for a follow-up meeting on October 19th at 17:00 GMT. I’ll send out calendar invites momentarily. </p>

								<p>Kindly let me know if I omitted anything in this summary, and I look forward to speaking again in a few weeks!</p>

								<p>Regards,<br>
								Kwame</p>

							</div>
							<div class="modal-footer">
								<button class="btn sample-btn" data-dismiss="modal" aria-hidden="true">Close</button>
							</div>
						</div>
					</div>					 	
					<!-- follow up -->
					<div id="follow-up" class="row-fluid carousel slide tip-carousel">
						<div id="myCarousel4" class="carousel slide">
							<ol class="carousel-indicators " >
								<li data-target="#myCarousel4" data-slide-to="0" class="active"></li>
								<li data-target="#myCarousel4" data-slide-to="1"></li>
								<li data-target="#myCarousel4" data-slide-to="2"></li>
								<li data-target="#myCarousel4" data-slide-to="3"></li>
								<li data-target="#myCarousel4" data-slide-to="4"></li><li data-target="#myCarousel4" data-slide-to="5"></li>
							</ol>
							<!-- Carousel items -->
							<div class="carousel-inner">
								<div class="active item"><p>Send summary of what you have been since the last meeting.</p></div>
								<div class="item"><p>Any deadlines or bottlenecks faced?</p></div>
								<div class="item"><p>What would you like to achieve in the next meeting.</p></div>
								<div class="item"><p>Send screenshots/Documentation if applicable.</p></div>
								<div class="item"><p>Checked for Spelling?</p></div>
								<div class="item"><p>Keep it short and crisp.</p></div>
							</div>
							<!-- Carousel nav -->
							<!-- ========================================================================================= -->
							<!-- sample modal -->
							<!-- Button to trigger modal -->
							<a href="#mailsampleModal5" role="button" class="btn sample-btn" data-toggle="modal">view sample</a>

							<!-- Modal -->
							<div id="mailsampleModal5" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
									<h3 id="myModalLabel">Follow up email sample</h3>
								</div>
								<div class="modal-body sample-body">
									
									<p>Hi Beth,</p>

									<p>Hope you’re doing well. Thanks once again for the session you had with the team last week. It was extremely helpful. We’ve started implementing most of the things we discussed: </p>

									<p>With regards to our next meeting, I’d like us to delve more deeply into design:</p>

									 <p>
									 	<ul>
									 		<li>● We changed the color palette, typography, and the general user flow of the test site to encourage the creation of multiple widgets. Do you think the changes support this objective? </li>
									 		<li>● How can we get access to high quality images for our landing page. In your estimation, which is the best stock photography site?</li>
									 		<li> ● What does your daily schedule look like as a designer at Apple?</li>
									 		<li>● What tools and resources do you use in doing your daily tasks?</li>
									 		<li>● How do you derive inspiration as a designer?</li>
									 	</ul>
									 
									</p>

									<p>Looking forward to our next meeting.</p>

									<p>Best regards,
									Ama</p>

								</div>
								<div class="modal-footer">
									<button class="btn sample-btn" data-dismiss="modal" aria-hidden="true">Close</button>
								</div>
							</div> 	
						</div>		
					</div>

				 </div>
			</div>

		</center>
		 <!-- Compose box ends here -->

		{% elif compose == True %}
			<!-- Compose new message to mentor/applicant -->
		<center class="row-fluid" id="compose-msg-one">
			<div class="span1"></div>

			<div class="span7 pull-left" id="msg-container">						
				<div class="row-fluid" id="msg-compose-container">

					<div class="row-fluid new-messager-wrap">	
						<div class="span6">	
							<div class="input-prepend pull-left" id="new-msg-recipient-container">	
								<span class="span2 add-on label-height" id="new-msg-recipient-label"><label>To:</label></span>
								<div class="span10" id="msg-recipient">
									<input class="pull-left" type="text" id="msg-receiver-input" name="msg-subject" disabled value="{{receiver.first_name}} {{receiver.last_name}}" data-receiver-id="{{receiver.key().id()}}">
								</div> 
							</div>
						</div>					

						<div class="span6">
							<div class="input-prepend pull-right" id="msg-type-container">
								<span class="span5 add-on label-height" id="msg-type-label"><label>Type of conversation:</label></span>
								<div class="span3" id="msg-select">
									<select id="mail-selected">  
										<option value="first-mtg">First contact and intro</option>
										<option value="arrange-mtg">Arrange a meeting </option>
										<option value="before-mtg">Prior to meeting</option>
										<option value="after-mtg">After the meeting</option>
										<option value="follow-up">Follow-up</option>
									</select>
								</div>
							</div>
						</div>	
					</div>

					<div class="row-fluid new-messager-wrap">	
						<div class="span6" >	
							<div class="input-prepend pull-left" id="new-msg-recipient-container">	
								<span class="span4 add-on label-height" id="new-msg-recipient-label"><label>Subject:&nbsp;&nbsp;&nbsp;</label></span>
								<div class="span7" id="msg-recipient">
									<input class="pull-left" type="text" id="msg-subject-input" name="msg-subject" placeholder="Seeking advice on email marketing">
								</div> 
							</div>
						</div>					

						<div class="span6" style="padding-left:11px">	
							<div class="input-prepend pull-left" id="new-msg-recipient-container">	
								<span class="span6 add-on label-height" id="new-msg-recipient-label"><label>Notify me at:</label></span>
								<div class="span6" id="msg-recipient">
									<input class="pull-left" type="text" id="msg-sender-notify"  type="email" placeholder="email" value="{{user.email}}">
								</div> 
							</div>
						</div>	
					</div>

<!-- 					<div class="row-fluid new-messager-wrap">
						<div class="input-prepend pull-left" id="msg-subject-container">
							<span class="span3 add-on label-height" id="msg-subject-label"><label>Subject:</label></span>
								<input class="pull-left span8" type="text" id="msg-subject-input" name="msg-subject" placeholder="Seeking advice....">
						</div>
						<div class="input-prepend" id="msg-notify-container">
							<span class="add-on label-height span4">Notify me at:</span>
							<input class="span8" id="msg-sender-notify" size="" type="email" placeholder="email" value="{{user.email}}" >
						</div>
					</div> -->

					<div class="row-fluid msg-content" id="msg-content-container">
						<textarea name="" id="new_message" cols="30" rows="10"></textarea>
					</div>

					<div class="row-fluid" id="send-button-container">
						<div class="span2 pull-right compose-msg" id="send-button">
							<button class="btn" id="compose-msg-send">Send</button>
						</div>
						<div class="span2 pull-right" id="cancel-button" style="margin-top: 10px; margin-right: 12px;">
							<button class="btn"id="compose-msg-cancel">Back</button>
						</div>
					</div>

				</div>
			</div>

			<div class="span4 pull-left" id="validate">
				<p><strong>Useful tips</strong></p>
				<div>

					<!-- intro -->
					<div id="first-mtg" class="row-fluid carousel slide tip-carousel">
						<div id="myCarousel" class="carousel slide">
							<ol class="carousel-indicators " >
								<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
								<li data-target="#myCarousel" data-slide-to="1"></li>
								<li data-target="#myCarousel" data-slide-to="2"></li>
								<li data-target="#myCarousel" data-slide-to="3"></li>
								<li data-target="#myCarousel" data-slide-to="4"></li>
								<li data-target="#myCarousel" data-slide-to="5"></li>
								<li data-target="#myCarousel" data-slide-to="6"></li>
							</ol>
							<!-- Carousel items -->
							<div class="carousel-inner">
								<div class="active item"><p>Introduce yourself and your company.</p></div>
								<div class="item"><p>Highlight issues your company is facing.</p></div>
								<div class="item"><p>How can he/she help you?</p></div>
								<div class="item"><p>Set your expectations upfront.</p></div>
								<div class="item"><p>Ask if they are willing to help.</p></div>
								<div class="item"><p>Check for spelling.</p></div>
								<div class="item"><p>Keep it short and crisp.</p></div>
							</div>	
							 <!-- Button to trigger modal -->
							<a href="#mailsampleModal" role="button" class="btn sample-btn" data-toggle="modal">view sample</a>
						 	<!-- Modal -->
							<div id="mailsampleModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
									<h3 id="myModalLabel">Introductory email sample</h3>
								</div>
								<div class="modal-body sample-body">
									
									<p>Hi Jack,</p>

									<p>I’m Kwame, co-founder and CTO of Jhello, an incubator company at the Meltwater Entrepreneurial School of Technology. I’m writing to ask your advice on how to scale our technical infrastructure.</p>

									<p>Jhello is a private social network for members of the African diaspora. We’re growing very rapidly, and we’re having trouble scaling our infrastructure. Considering your experience scaling infrastructure for multiple companies, I would love to get your perspective on how to do this most effectively.</p>

									<p>Would it be possible to Skype for an hour sometime next week to discuss strategies that might help us deal with this?</p>

									<p>Regards,<br>
									Kwame</p>

								</div>
								<div class="modal-footer"><button class="btn sample-btn" data-dismiss="modal" aria-hidden="true">Close</button></div>			
							</div>
						</div>
					</div>	
						<!-- arrange mtg -->
					<div id="arrange-mtg" class="row-fluid carousel slide tip-carousel">
						<div id="myCarousel1" class="carousel slide">
							<ol class="carousel-indicators " >
								<li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
								<li data-target="#myCarousel1" data-slide-to="1"></li>
								<li data-target="#myCarousel1" data-slide-to="2"></li>
								<li data-target="#myCarousel1" data-slide-to="3"></li>
								<li data-target="#myCarousel1" data-slide-to="4"></li>
								<li data-target="#myCarousel1" data-slide-to="5"></li>
								<li data-target="#myCarousel1" data-slide-to="6"></li>
							</ol>

							<div class="carousel-inner">
								<div class="active item"><p>Have you decided on an agreeable time( Use international meeting planner).</p></div>
								<div class="item"><p>Send a calendar invite with agenda.</p></div>
								<div class="item"><p>Use Fuze for screen sharing.</p></div>
								<div class="item"><p>Send screenshots/documentation if applicable.</p></div>
								<div class="item"><p>Check for spelling.</p></div>
								<div class="item"><p>Share contact details( Skype, Google etc).</p></div>
								<div class="item"><p>Keep it short and crisp.</p></div>
							</div>
							<!-- sample modal -->
							<!-- Button to trigger modal -->
							<a href="#mailsampleModal2" role="button" class="btn sample-btn" data-toggle="modal">view sample</a>

							 <!-- Modal -->
							<div id="mailsampleModal2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
									<h3 id="myModalLabel">Meeting arrangement email sample</h3>
								</div>
								<div class="modal-body sample-body">
									
									<p>Hi Jack, Teresa:</p>

									<p>I wanted to reach out to everyone regarding our meeting on Thursday, September 19th. Kindly confirm if you’re both ok with vidchatting at 15:00-16:00 GMT.</p>

									<p>1) Here’s the login info for a demo of the app: </p>

									<p>login url: (login url)<br>
									username: (demo userid)<br>
									password: (pwd)</p>

									<p>2) Here’s an agenda outlining the areas we’d like to discuss: [Short, five-point agenda]</p>

									<p>3) Finally, kindly let me know if you’re OK vidchatting via Skype, or if there’s another service you’d prefer. If Skype works for you, please let me know your Skype IDs. Mine is [insert Skype ID]. </p>

									<p>Looking forward to the conversation!</p>

									<p>Cheers,<br>
									Kwesi</p>

								</div>
								<div class="modal-footer"><button class="btn" data-dismiss="modal" aria-hidden="true">Close</button></div>					
							</div>
						</div>
					</div>	
					<!-- before the mtg -->
					<div id="before-mtg" class="row-fluid carousel slide tip-carousel">
						<div id="myCarousel2" class="carousel slide">
							<ol class="carousel-indicators " >
								<li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
								<li data-target="#myCarousel2" data-slide-to="1"></li>
								<li data-target="#myCarousel2" data-slide-to="2"></li>
								<li data-target="#myCarousel2" data-slide-to="3"></li>
								<li data-target="#myCarousel2" data-slide-to="4"></li>
							</ol>
							<!-- Carousel items -->
							<div class="carousel-inner">
								<div class="active item"><p>Send a calendar invite with agenda· </p></div>
								<div class="item"><p>Setup demo account and include log-in details if applicable·</p></div>
								<div class="item"><p>Use Fuze for screen sharing.</p></div>
								<div class="item"><p>Send screenshots/Documentation if applicable.</p></div>
								<div class="item"><p>Check for spelling.</p></div>
								<div class="item"><p>Keep it short and crisp.</p></div>
							</div>
							 <!-- sample modal -->
							 <!-- Button to trigger modal -->
							<a href="#mailsampleModal3" role="button" class="btn sample-btn" data-toggle="modal">view sample</a>
							 <!-- Modal -->
							<div id="mailsampleModal3" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
									<h3 id="myModalLabel">Before the meeting email sample</h3>
								</div>
								<div class="modal-body sample-body">
									                              
									<p>Hi Jack,</p>

									<p>Hope you’re doing well. This is a reminder for our meeting in two days, on September 19th, at 17.00 GMT.</p>

									<p>1) Here’s the login info for the app demo:</p>

									<p>login url: (login url)<br>
									username:(demo userid)<br>
									password:(pwd)</p>

									<p>2) Here’s an agenda outlining the areas we’d like to discuss: [Short, five-point agenda]</p>

									<p>Many thanks, and talk to you soon!</p>

									<p>Regards,<br>
									Kwame</p>

								</div>
								<div class="modal-footer">
									<button class="btn sample-btn" data-dismiss="modal" aria-hidden="true">Close</button>
								</div>
							</div>
						</div>
					</div>
					<!-- after mtg -->
					<div id="after-mtg" class="row-fluid carousel slide tip-carousel">
						<div id="myCarousel3" class="carousel slide">
							<ol class="carousel-indicators " >
								<li data-target="#myCarousel3" data-slide-to="0" class="active"></li>
								<li data-target="#myCarousel3" data-slide-to="1"></li>
								<li data-target="#myCarousel3" data-slide-to="2"></li>
								<li data-target="#myCarousel3" data-slide-to="3"></li>
								<li data-target="#myCarousel3" data-slide-to="4"></li>
							</ol>
							<!-- Carousel items -->
							<div class="carousel-inner">
								<div class="active item"><p>Send summary of your interaction· </p></div>
								<div class="item"><p>Action points with deadlines and who is responsible for them·</p></div>
								<div class="item"><p>Next steps?</p></div>
								<div class="item"><p>Ask for feedback about overall interaction.</p></div>
								<div class="item"><p>Thank them for their time and effort.</p></div>
							</div>
						</div>
						<!-- sample modal -->
						<!-- Button to trigger modal -->
						<a href="#mailsampleModal4" role="button" class="btn sample-btn" data-toggle="modal">view sample</a>
						 <!-- Modal -->
						<div id="mailsampleModal4" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
								<h3 id="myModalLabel">After meeting email sample</h3>
							</div>
							<div class="modal-body sample-body">
								<p>Hello all,</p>

								<p>Once again, on behalf of the entire Jhello team, I’d like to thank you for making the time to support us. Your insight so far has been invaluable.</p>

								<p>Here is a summary of action items.</p>

								<p>1. Kwame: change all selections to checkboxes<br>
								2. Kwame: start work on the message center tonight and admin panel next week. [Kwame]<br>
								3. Jack: make email introduction to the person who scaled Facebook’s technical infrastructure</p>

								<p>We tentatively set a date for a follow-up meeting on October 19th at 17:00 GMT. I’ll send out calendar invites momentarily. </p>

								<p>Kindly let me know if I omitted anything in this summary, and I look forward to speaking again in a few weeks!</p>

								<p>Regards,<br>
								Kwame</p>

							</div>
							<div class="modal-footer">
								<button class="btn sample-btn" data-dismiss="modal" aria-hidden="true">Close</button>
							</div>
						</div>
					</div>					 	
					<!-- follow up -->
					<div id="follow-up" class="row-fluid carousel slide tip-carousel">
						<div id="myCarousel4" class="carousel slide">
							<ol class="carousel-indicators " >
								<li data-target="#myCarousel4" data-slide-to="0" class="active"></li>
								<li data-target="#myCarousel4" data-slide-to="1"></li>
								<li data-target="#myCarousel4" data-slide-to="2"></li>
								<li data-target="#myCarousel4" data-slide-to="3"></li>
								<li data-target="#myCarousel4" data-slide-to="4"></li><li data-target="#myCarousel4" data-slide-to="5"></li>
							</ol>
							<!-- Carousel items -->
							<div class="carousel-inner">
								<div class="active item"><p>Send summary of what you have been since the last meeting.</p></div>
								<div class="item"><p>Any deadlines or bottlenecks faced?</p></div>
								<div class="item"><p>What would you like to achieve in the next meeting.</p></div>
								<div class="item"><p>Send screenshots/Documentation if applicable.</p></div>
								<div class="item"><p>Checked for Spelling?</p></div>
								<div class="item"><p>Keep it short and crisp.</p></div>
							</div>
							<!-- Carousel nav -->
							<!-- ========================================================================================= -->
							<!-- sample modal -->
							<!-- Button to trigger modal -->
							<a href="#mailsampleModal5" role="button" class="btn sample-btn" data-toggle="modal">view sample</a>

							<!-- Modal -->
							<div id="mailsampleModal5" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
									<h3 id="myModalLabel">Follow up email sample</h3>
								</div>
								<div class="modal-body sample-body">
									
									<p>Hi Beth,</p>

									<p>Hope you’re doing well. Thanks once again for the session you had with the team last week. It was extremely helpful. We’ve started implementing most of the things we discussed: </p>

									<p>With regards to our next meeting, I’d like us to delve more deeply into design:</p>

									 <p>
									 	<ul>
									 		<li>● We changed the color palette, typography, and the general user flow of the test site to encourage the creation of multiple widgets. Do you think the changes support this objective? </li>
									 		<li>● How can we get access to high quality images for our landing page. In your estimation, which is the best stock photography site?</li>
									 		<li> ● What does your daily schedule look like as a designer at Apple?</li>
									 		<li>● What tools and resources do you use in doing your daily tasks?</li>
									 		<li>● How do you derive inspiration as a designer?</li>
									 	</ul>
									 
									</p>

									<p>Looking forward to our next meeting.</p>

									<p>Best regards,
									Ama</p>

								</div>
								<div class="modal-footer">
									<button class="btn sample-btn" data-dismiss="modal" aria-hidden="true">Close</button>
								</div>
							</div> 	
						</div>		
					</div>

				 </div>
			</div>



		</center>		 
		{% endif %}

	    <div id="push"></div>

    </div>  

    <!-- footer -->
<!--     <div id="footer" >
        <div class="container">
            <h4>MEST GLOBAL NETWORK  &mdash; shaping the future!</h4>
            <p><a href="#">&#169;2013   meltwater entreprenuerial school of technology</a></p>
        </div>
    </div> -->
    <!-- footer -->


<!-- ../../scripts go here   -->
<script src="../scripts/bootstrap/js/bootstrap.js"></script>
<script src="../scripts/js/jquery-2.0.3.min.js"></script>
<script src="../scripts/bootstrap/js/bootstrap.js"></script>
<script src="../scripts/js/ajax/msgCenterAjax.js"></script>
<script src="../scripts/js/nicEdit-latest.js"></script> 
<script src="../scripts/js/message-center.js"></script>
<script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
<script>
// {% if compose== True%}
//         // tinymce.init({selector:'textarea'});
//         tinymce.init({
//     selector: "textarea#new_message",
//     theme: "modern",
//     plugins: [
//          "advlist autolink link image lists charmap preview hr anchor pagebreak 	",
//          "searchreplace wordcount insertdatetime nonbreaking",
//          "save contextmenu directionality paste textcolor"
//    ],
//    content_css: "css/content.css",
//    toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | l      ink image | print preview media fullpage | forecolor backcolor emoticons", 
//    style_formats: [
//         {title: 'Bold text', inline: 'b'},
//         {title: 'Red text', inline: 'span', styles: {color: '#ff0000'}},
//         {title: 'Red header', block: 'h1', styles: {color: '#ff0000'}},
//         {title: 'Example 1', inline: 'span', classes: 'example1'},
//         {title: 'Example 2', inline: 'span', classes: 'example2'},
//         {title: 'Table styles'},
//         {title: 'Table row 1', selector: 'tr', classes: 'tablerow1'}
//     ]
//  }); 
// {% endif %}
</script>
	{% if compose== True%}
	<script type="text/javascript">
		bkLib.onDomLoaded(
		  function() { 
		    area2 = new nicEditor({fullPanel : true}).panelInstance('new_message');
		  }
		);
	</script>
	{% endif %}
</html>