<!DOCTYPE html>
<html>
    
    <head>
        <title>Entrepreneur</title>
        <!-- Bootstrap -->

        <link href="../../scripts/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="../../scripts/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
        <link href="../../scripts/admin/vendors/easypiechart/jquery.easy-pie-chart.css" rel="stylesheet" media="screen">
        <link href="../../scripts/admin/vendors/jGrowl/jquery.jgrowl.css" rel="stylesheet" media="screen">
        <link href="../../scripts/admin/assets/styles.css" rel="stylesheet" media="screen">



        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
<!-- <<<<<<< HEAD
        <script src="../../scripts/admin/vendors/modernizr-2.6.2-respond-1.1.0.min.js"></script>
======= -->
        <script src="scripts/admin/vendors/modernizr-2.6.2-respond-1.1.0.min.js"></script>

    </head>
    
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="#">Admin Panel</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav pull-right">
                            <li class="dropdown">
                                <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-user"></i> Anirudh Narla<i class="caret"></i>

                                </a>
                                <ul class="dropdown-menu">

                                    <li>
                                        <a tabindex="-1" href="login.html">Logout</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav">
                            <li class="active">
                                <a href="dashboard.html">Dashboard</a>
                            </li>
                            <li class="dropdown">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Settings</a>
                            </li>
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span3" id="sidebar">
                    <ul class="nav nav-list bs-docs-sidenav nav-collapse collapse">
                        <li>
                            <a href="dashboard.html"><i class="icon-chevron-right"></i> Dashboard</a>
                        </li>
                         <li>
                            <a href="mentor.html"><i class="icon-chevron-right"></i> Mentor Mail</a>
                        </li>
                        <li class="active">
                            <a href="mentor-details.html"><i class="icon-chevron-right "></i> Mentor Details</a>
                        </li>
                       
                        
                    </ul>
                </div>
                <!--/span-->
                <div class="row span9" id="activity-row">
                    
                
                            <div class= "span8">
                                <h1>Mentor Details</h1>
                            </div>
                            <div class="span3 pull-right" id="addNew-Entrep">
                                 <!-- Button to trigger modal -->
                                <a href="#addEntrep" role="button" class="btn btn-warning pull-right" data-toggle="modal">Remove mentor</a>
                                 
                                <!-- Modal -->
                                <div id="addEntrep" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                  <div class="modal-header">
                                    <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> -->
                                    <h3 id="myModalLabel">Remove Entrepreneur</h3>
                                  </div>
                                  <div class="modal-body">
                                    <form action="submit">
                                        <h4>Please enter the email of the entrepreneur to confirm.</h4>
                                        <input type="email" placeholder="entrepreneurs' email" id="new-entrepreneur" class="span10">
                                    </form>
                                  </div>
                                  <div class="modal-footer">
                                    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                                    <button class="btn btn-primary">Submit</button>
                                  </div>
                                </div>
                            </div>
                </div>
                <div class="span9" id="content">
                    <div class="row-fluid">
                         <div class="row-fluid">
                        <!-- block -->
                        <div class="block">
                            <div class="navbar navbar-inner block-header">
                                <div class="muted pull-left">Overview</div>
                                <div class="pull-right"><span class="badge badge-warning">View More</span>

                                </div>
                            </div>
                            <div class="block-content collapse in">
                                
                                <div class="span3">
                                    <div class="chart easyPieChart" data-percent="99">99%</div>
                                    <div class="chart-bottom-heading"><span class="label label-info">Email response rate</span>

                                    </div>
                                </div>
                                <div class="span3">
                                    <div class="chart easyPieChart" data-percent="53">53%</div>
                                    <div class="chart-bottom-heading"><span class="label label-info">Pending email replies</span>

                                    </div>
                                </div>
                                 <div class="span3">
                                    <div class="chart easyPieChart" data-percent="83">83%</div>
                                    <div class="chart-bottom-heading"><span class="label label-info">Likes</span>

                                    </div>
                                </div>
                                <div class="span3">
                                    <div class="chart easyPieChart" data-percent="13">13%</div>
                                    <div class="chart-bottom-heading"><span class="label label-info">Comments</span>

                                    </div>
                                </div> 
                            </div>
                        </div>
                        <!-- /block -->
                    </div>
                    
                        <!-- block -->
                        <div class="block">
                            <div class="navbar navbar-inner block-header">
                                <div class="muted pull-left">Email history</div>
                                <div class="pull-right"><span class="badge badge-warning"></span>

                                </div>
                            </div>
                                                    

                            <div class="block-content collapse in">
                                
                                
                                <div class="span12">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>To</th>
                                                <th>Message type</th>
                                                <th>Ent/mentor messages</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Donna Stuart</td>
                                                <td>Setup Coaching call</td>
                                                <td>3/2</td>
                                            </tr>
                                            <tr>
                                                <td>Donna Stuart</td>
                                                <td>Setup Coaching call</td>
                                                <td>3/2</td>
                                            </tr>
                                            <tr>
                                                <td>Donna Stuart</td>
                                                <td>Setup Coaching call</td>
                                                <td>3/2</td>
                                            </tr>
                                            <tr>
                                                <td>Donna Stuart</td>
                                                <td>Setup Coaching call</td>
                                                <td>3/2</td>
                                            </tr>
                                        </tbody>
                                    </table>
                        
                                </div>
                                <!-- /block -->
                    </div>
                    
            <hr>

        </div>
                                  <a href="mentor.html" role="button" class="btn btn-primary pull-right" id="back">&larr;Back</a>
        <!--/.fluid-container-->

        <script src="../../scripts/admin/vendors/jquery-1.9.1.min.js"></script>
        <script src="../../scripts/admin/vendors/jGrowl/jquery.jgrowl.js"></script>
        <script src="../../scripts/bootstrap/js/bootstrap.min.js"></script>
         <script src="../../scripts/admin/vendors/easypiechart/jquery.easy-pie-chart.js"></script>
        <script src="../../scripts/admin/assets/scripts.js"></script>

        <script>
        $(function() {
            $('.tooltip').tooltip();    
            $('.tooltip-left').tooltip({ placement: 'left' });  
            $('.tooltip-right').tooltip({ placement: 'right' });    
            $('.tooltip-top').tooltip({ placement: 'top' });    
            $('.tooltip-bottom').tooltip({ placement: 'bottom' });

            $('.popover-left').popover({placement: 'left', trigger: 'hover'});
            $('.popover-right').popover({placement: 'right', trigger: 'hover'});
            $('.popover-top').popover({placement: 'top', trigger: 'hover'});
            $('.popover-bottom').popover({placement: 'bottom', trigger: 'hover'});

            $('.notification').click(function() {
                var $id = $(this).attr('id');
                switch($id) {
                    case 'notification-sticky':
                        $.jGrowl("Stick this!", { sticky: true });
                    break;

                    case 'notification-header':
                        $.jGrowl("A message with a header", { header: 'Important' });
                    break;

                    default:
                        $.jGrowl("Hello world!");
                    break;
                }
            });
        });
        </script>
        <script>
        $(function() {
            // Easy pie charts
            $('.chart').easyPieChart({animate: 1000});
        });
        </script>


        <!-- <footer>
            <p>&copy; MEST MENTOR PLATFORM 2013</p>
        </footer> -->
    </body>

</html>