<html>
	<head>
		<link rel="stylesheet" type="text/css" href="scripts/css/mentorsignupform.css">
		<link rel="stylesheet" type="text/css" href="scripts/css/jobapplicantform.css">
		<link href="scripts/iCheck/skins/line/aero.css" rel="stylesheet">
		<link href="scripts/iCheck/skins/flat/aero.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/smoothness/jquery-ui.css">
  	</head>
	<body>
		<!-- multistep form -->
		<form id="msform">
			<!-- progressbar -->
			<ul id="progressbar">
				<li class="active">Start</li>
				<li>Expertise</li>
				<li>Experience</li>
				<li>Preference</li>
				<li>Brief Bio</li>
				<li>Done</li>
			</ul>
			<!-- fieldsets -->
			<fieldset>
				<div class="row-fluid" id="program-selection">
						<ul>
							<li>
								<p class="fs-title">I am applying for available job openings</p>
							</li>
						</ul>
					</div>	
				<div class="row-fluid" id="program-details" >
						<p id="expert-mentor" class="fs-subtitle">
							Kindly tell us about yourself so we can match you appropraitely with the company the most needs services relation to your skills set and area of expertise.
						</p>	
				</div>
				<input type="button" name="next" class="next action-button" value="Next" />
			</fieldset>

			<fieldset>
				<p class="fs-title">I have expertise in the following areas</p>
					<div class="row-fluid fs-subtitle" id="topics">
						<div class="span9 first"> 
							<div class="row-fluid">
								<div id="business-development" class="span4">
									<label>BUSINESS DEVELOPMENT</label>
									<ul><span>
									<li><input type="checkbox"><label>Sales</label></li>
									<li><input type="checkbox"><label>Customer service</label></li>
									<li><input type="checkbox"><label>Pitching</label></li>
									<li><input type="checkbox"><label>Fundraising</label></li>
									</span></ul>
								</div>
								<div id="design" class="span4">
									<label>DESIGN</label>
									<ul><span>
									<li><input type="checkbox"><label>Graphic design</label></li>
									<li><input type="checkbox"><label>Product design</label></li>
									<li><input type="checkbox"><label>UX/UI</label></li>
									</span></ul>
								</div>	
								<div id="legal" class="span4">
									<label>LEGAL</label>
									<ul><span>
									<li><input type="checkbox"><label>Contracts</label></li>
									<li><input type="checkbox"><label>Incorporation</label></li>
									<li><input type="checkbox"><label>Intellectual property</label></li>
									<li><input type="checkbox"><label>Licensing</label></li>
									</span></ul>
								</div>
							</div>
							<div class="row-fluid">
								<div id="human-resources" class="span4">
									<label>HUMAN RESOURCES</label>
									<ul><span>
									<li><input type="checkbox"><label>Hiring</label></li>
									<li><input type="checkbox"><label>Motivation</label></li>
									<li><input type="checkbox"><label>Coaching and leadership</label></li>
									<li><input type="checkbox"><label>Teamwork</label></li>
									<li><input type="checkbox"><label>Interviewing</label></li>
									</span></ul>
								</div>	
								<div id="technology" class="span4">
									<label>TECHNOLOGY</label>
									<ul><span>
									<li><input type="checkbox"><label>Technology stacks</label></li>
									<li><input type="checkbox"><label>Software tools</label></li>
									</span></ul>
								</div>
								<div id="customer-development" class="span4">
									<label>CUSTOMER DEVELOPMENT</label>
									<ul><span>
									<li><input type="checkbox"><label>Analytics</label></li>
									<li><input type="checkbox"><label>Product/market fit</label></li>
									<li><input type="checkbox"><label>Conversion</label></li>
									</span></ul>
								</div>
								<div id="operations" class="span4">
									<label>OPERATIONS</label>
									<ul><span>
									<li><input type="checkbox"><label>Procurement</label></li>
									<li><input type="checkbox"><label>Supply chain</label></li>
									</span></ul>
								</div>
							</div>
						</div>
						<div class="span3"> 
							<div class="row-fluid">
								<div id="strategy-marketing">
									<label>STRATEGY/MARKETING</label>
									<ul><span>
									<li><input type="checkbox"><label>Advertising</label></li>
									<li><input type="checkbox"><label>Competitive analysis</label></li>
									<li><input type="checkbox"><label>Copyrighting</label></li>
									<li><input type="checkbox"><label>Email marketing</label></li>
									<li><input type="checkbox"><label>Growth and scaling</label></li>
									<li><input type="checkbox"><label>Marketing strategy</label></li>
									<li><input type="checkbox"><label>Pricing</label></li>
									<li><input type="checkbox"><label>SEO</label></li>
									</span></ul>
								</div>	
							</div>
						</div>	
					</div>
				<input type="button" name="previous" class="previous action-button" value="Previous" />
				<input type="button" name="next" class="next action-button" value="Next" />
			</fieldset>

			<fieldset>
				<p class="fs-title">I have experience in the following industries:</p>
				<div class="row-fluid fs-subtitle" id="sectors">
					<ul><span>
					<li><input type="checkbox" ><label>Analytics</label></li>
					<li><input type="checkbox" ><label>Advertising</label></li>
					<li><input type="checkbox" ><label>Cloud services</label></li>
					<li><input type="checkbox" ><label>Education</label></li>
					<li><input type="checkbox" ><label>Enterprise software</label></li>
					<li><input type="checkbox" ><label>Events</label></li>
					<li><input type="checkbox" ><label>Fashion</label></li>
					<li><input type="checkbox" ><label>Financial services</label></li>
					<li><input type="checkbox" ><label>Games</label></li>
					<li><input type="checkbox" ><label>Green</label></li>
					<li><input type="checkbox" ><label>Hardware</label></li>
					<li><input type="checkbox" ><label>Healthcare</label></li>
					<li><input type="checkbox" ><label>Local</label></li>
					<li><input type="checkbox" ><label>Media</label></li>
					<li><input type="checkbox" ><label>Mobile</label></li>
					<li><input type="checkbox" ><label>Music</label></li>
					<li><input type="checkbox" ><label>Payments</label></li>
					<li><input type="checkbox" ><label>Photography</label></li>
					<li><input type="checkbox" ><label>Productive tools</label></li>
					<li><input type="checkbox" ><label>Recruiting</label></li>
					<li><input type="checkbox" ><label>Retail</label></li>
					<li><input type="checkbox" ><label>Sharing</label></li>
					<li><input type="checkbox" ><label>Small business</label></li>
					<li><input type="checkbox" ><label>Social impact</label></li>
					<li><input type="checkbox" ><label>Sports</label></li>
					<li><input type="checkbox" ><label>Travel</label></li>
					<li><input type="checkbox" ><label>Video</label></li>
					</span></ul>
				</div>
				<input type="button" name="previous" class="previous action-button" value="Previous" />
				<input type="button" name="next" class="next action-button" value="Next" />
			</fieldset>

			<fieldset>
				<div class="row-fluid">
					<div class="row-fluid">
						<div class="span6" id="left">
							<div class="row-fluid fs-subtitle" id="method-of-contact-text">
								<span>
									<p>
										Your privacy is very important to us. Your email 
						          		address will only be available to the MEST 
						          		entrepreneurs who you are mentoring, and will never be 
						          		published or sold.
						          	</p>
								</span>
								<ul>
									<li class="method-label pull-left">
										<label>Email:</label>
									</li>
									<li class="method-value pull-right">
										<input type="email" name="email" value="" placeholder="" id="email">
									</li>
								</ul>
							</div>
						</div>
						<div class="span6" id="right">	
							<div id="brief-bio" class="row-fluid fs-subtitle">
								<p>
										In a few words, write a mini-bio that we can use to showcase your profile to our community of entrepreneurs.
									<small>
										(optional)
									</small>
								</p>
								<textarea name="short-bio" rows="4" cols="25000" placeholder="Brief biography" id="summary-text"></textarea>
							</div>
						</div>
					</div>
				</div>
					<input type="button" name="previous" class="previous action-button" value="Previous" />
					<input type="button" name="next" class="next action-button" value="Next" />
			</fieldset>


			<fieldset>
				<section id="summary">
					<article id="referral">	
						<p class="fs-title">
							One last thing, how did you hear about us?
						</p>
					</article>		
				</section>

				<section  class="row-fluid fs-subtitle" id="method-of-referral">
				 	<ul>
		 				<li><input type="checkbox"><label>Internet search</label></li>
						<li><input type="checkbox"><label>Referral from a friend</label></li>
						<li><input type="checkbox"><label>Press</label></li>
				 		<li><input type="checkbox"><label>LinkedIn</label></li>
						<li><input type="checkbox"><label>Event</label><input type="text" placeholder="(please specify)"></li>
				 		<li><input type="checkbox"><label>other</label><input type="text" placeholder="(please specify)"></li>
				 	</ul>
				</section>
				<input type="button" name="previous" class="previous action-button" value="Previous"/>
				<input type="submit" name="submit" class="submit action-button" value="Submit" id="submit-form"/>
			</fieldset>


			<fieldset>
				<section class="center">
						<p class="fs-title" id="success_msg">
						</p>
				 </section>
				<input type="submit" name="submit" class="action-button" value="Close" id="submit-form"/>
			</fieldset>
		</form>

		<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    	<div id="dialog-confirm" title="Delete this item?" style="display:none;">
		  <p>
		  	<span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;">
		  	</span>
		  	This item will be permanently deleted.
		  </p>
		</div>
		<div id="duplicate-user" title="ERROR" style="display:none;">
		  <p>User already exists.</p>
		</div>

		<input type="text" value="{{user_data}}" id="userdata">
    	<!-- jQuery -->		
		<script src="scripts/js/mentorsignup/jquery-1.9.1.js" type="text/javascript"></script>
		<script src="scripts/js/mentorsignup/jquery-ui.js"></script>
		<!-- jQuery easing plugin -->
		<script src="http://thecodeplayer.com/uploads/js/jquery.easing.min.js" type="text/javascript"></script>
		<script src="scripts/js/mentorsignup/mentorsignupform.js" type="text/javascript"></script>
    	<script src="scripts/iCheck/jquery.icheck.js"></script>
		<script src="scripts/js/mentorsignup/jquery.browser.js"></script>
	    <script type="text/javascript" src="scripts/js/applicantsignup/jobapplicantform.js"></script>
	    <script type="text/javascript" src="scripts/js/ajax/jobapplicantform.ajax.js"></script>
	</body>
</html>




